<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, voluptate.
    </p>
  </div>
  <div style="width: 20%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut,
        dignissimos?
      </div>
    </div>
  </div>

  <script src="../js/main.js"></script>
</section>

<section class="block block--dark block--skewed_right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, voluptate.
    </p>
  </div>
</section>

<script src="../js/main.js"></script>
